@import "bulma";

.logo {
  width: 350px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  opacity: .5;
}

.switch_background {
  position: absolute;
  top: 230px;
  left: 100px;
  z-index: 2;
  opacity: .5;
}

.splash_container {
   position: relative;
}

.old-code-spacer {
  height: 500px;
}

.title-box {
  padding-left: 50px;
  font-size: 40px;
  color: white;
  background-color: #24BBD6;
  letter-spacing: 1px;
  font-style: italic;
  height: 50px;
  width: 50%;
}

.inline {
  display: inline-block;
}

.curve-one {
  padding-left: 50px;
  background-color: #24BBD6;
  width: 50%;
  height: 100px;
  border-bottom-right-radius: 100%;
}

.curve-two {

  background-color: #24BBD6;

}
