@import "bulma";

body {
  background-color: #398AF6;
}

div {
  border-radius: 7px;
  color: black;
  font-family: 'Roboto', sans-serif;
  //font-weight: bold;
}

.logo {
  width: 250px;
  //position: absolute;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  opacity: .7;
}

.spacer1 {
  height: 165px;
}
////////////////////////////// old code for switch background button structure still in html and js//////////////
// .switch_background {
//   //position: absolute;
//   position: fixed;
//   top: 230px;
//   left: 100px;
//   z-index: 2;
//   opacity: .6;
// }
////////////////////////////////////////////////////////////////////////////////////////

.switch_background {
  //position: absolute;
  position: fixed;
  top: 230px;
  left: 100px;
  z-index: 2;
  opacity: 0;
}

.phone-number {
  position: fixed;
  font-weight: bold;
  top: 40px;
  left: 265px;
  z-index: 2;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  color: white;
  padding: 4px;
  text-shadow: 3px 3px #398AF6;

  animation-name: menu;
  animation-duration: 2s;
}

@keyframes menu {
    from {//position: absolute;
      left: 870px;}
    to {  //position: absolute;
      left: 265px;}
}

.free-estimates {
  position: fixed;
  top: 85px;
  left: 290px;
  z-index: 2;
  font-size: 25px;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  padding: 4px;
  animation-name: menu1;
  animation-duration: 3s;
}

@keyframes menu1 {
    from {//position: absolute;
      left: 870px;}
    to {  //position: absolute;
      left: 290px;}
}

.saying {
  position: fixed;
  top: 120px;
  left: 285px;
  z-index: 2;
  font-size: 20px;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  padding: 4px;
  animation-name: menu2;
  animation-duration: 4s;
}

@keyframes menu2 {
    from {//position: absolute;
      left: 870px;}
    to { // position: absolute;
      left: 285px;}
}

menu {
  position: fixed;
  //position: absolute;
  top: 10px;
  left: 270px;
  z-index: 2;
  margin: 0px;
  padding-left: 0;
}

.menu-button {
  text-align: center;
  font-size: 20px;
  background: white;
  display: inline-block;
  padding: 4px;
  opacity: .7;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 125px;
}

.menu-button:hover {
  color: orange;
}

.splash_container {
   //position: relative;
   position: fixed;
   width: 100%;
   height: 170px;
   overflow: hidden;
   border-radius: 0px;
}

.splash_image {
  width: 100%;
}

.city {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 55px;
  left: 600px;
}

.city1 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 55px;
  left: 700px;
}

.city2 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 55px;
  left: 820px;
}

.city3 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 55px;
  left: 900px;
}

.city4 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 85px;
  left: 650px;
}

.city5 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 85px;
  left: 760px;
}

.city6 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px #398AF6;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 85px;
  left: 850px;
}

@media screen and (max-width: 1099px) {
    .city {
      top: 10px;
      left: 680px;
    }

    .city1 {
      top: 100px;

    }

    .city2 {
      top: 10px;
      left: 780px;
    }

    .city3 {
      top: 70px;
      left: 680px;
    }

    .city4 {
      top: 70px;
      left: 760px;
    }

    .city5 {
      top: 40px;
      left: 775px;
    }

    .city6 {
      top: 40px;
      left: 680px;
    }

    menu {
      //position: absolute;
      position: fixed;
      top: 10px;
      left: 272px;
      z-index: 2;
      margin: 0px;
      width: 500px;
    }

    .phone-number {
      //position: absolute;
      position: fixed;
      top: 90px;
      left: 265px;
      z-index: 2;
      //opacity: .7;
      font-size: 30px;
      //background: white;
      padding: 4px;
      animation-name: menuA;
      animation-duration: 2s;
    }

    @keyframes menuA {
        // from {//position: absolute;
        //   left: 870px;}
        // to {  //position: absolute;
        //   left: 470px;}
    }

    .free-estimates {
      //position: absolute;
      position: fixed;
      top: 95px;
      left: 497px;
      z-index: 2;
      //opacity: .7;
      font-size: 25px;
      //background: white;
      padding: 4px;
      animation-name: menu1A;
      animation-duration: 2s;
    }

    @keyframes menu1A {
        // from {//position: absolute;
        //   left: 870px;}
        // to {  //position: absolute;
        //   left: 470px;}
    }

    .saying {
      position: fixed;
      top: 129px;
      left: 380px;
      z-index: 2;
      font-size: 20px;
      padding: 4px;
      animation-name: menu2A;
      animation-duration: 2s;
    }

    @keyframes menuA {
        // from {//position: absolute;
        //   left: 870px;}
        // to {  //position: absolute;
        //   left: 470px;}
    }
}

@media screen and (max-width: 850px) {
  .city {
    top: 160px;
    left: 5px;
  }

  .city1 {
    top: 160px;
    left: 100px;
  }

  .city2 {
    top: 160px;
    left: 220px;
  }

  .city3 {
    top: 160px;
    left: 300px;
  }

  .city4 {
    top: 160px;
    left: 390px;
  }

  .city5 {
    top: 160px;
    left: 500px;
  }

  .city6 {
    top: 160px;
    left: 590px;
  }

  .splash_container {
    height: 190px;
  }

  .spacer1 {
    height: 183px;
  }

}

@media screen and (max-width: 683px) {
  .spacer1 {
    height: 210px;
  }

  .city {
    font-size: 17px;
    top: 193px;
    left: 5px;
  }

  .city1 {

    font-size: 17px;
    top: 193px;
    left: 80px;
  }

  .city2 {
    font-size: 17px;
    top: 193px;
    left: 170px;
  }

  .city3 {
    font-size: 17px;
    top: 193px;
    left: 235px;
  }

  .city4 {
    font-size: 17px;
    top: 193px;
    left: 307px;
  }

  .city5 {
    font-size: 17px;
    top: 193px;
    left: 392px;
  }

  .city6 {
    font-size: 17px;
    top: 193px;
    left: 460px;
  }

  .phone-number {
    position: fixed;
    //position: absolute;
    top: 155px;
    left: 30px;
    z-index: 2;
    //opacity: .7;
    font-size: 30px;
    //background: white;
    padding: 4px;
  }

  .free-estimates {
    position: fixed;
    //position: absolute;
    top: 138px;
    left: 300px;
    z-index: 2;
    //opacity: .7;
    font-size: 25px;
    //background: white;
    padding: 4px;
  }

  .saying {
    position: fixed;
    //position: absolute;
    top: 163px;
    left: 295px;
    z-index: 2;
    //opacity: .7;
    font-size: 20px;
    //background: white;
    padding: 4px;
  }

  menu {
    width: 300px;
  }

  .splash_container {
    height: 220px;
  }

  .spacer1 {
    height: 220px;
  }
}


@media screen and (max-width: 535px){

  // .menu {
  //   position: absolute;
  // }

  .spacer1 {
    height: 417px;
  }

  .city {
    position: absolute;
    top: 210px;
    left: 8px;
  }

  .city1 {
    position: absolute;
    top: 210px;
    left: 100px;
  }

  .city2 {
    position: absolute;
    top: 229px;
    left: 78px;
  }

  .city3 {
    position: absolute;
    top: 229px;
    left: 2px;
  }

  .city4 {
    position: absolute;
    top: 210px;
    left: 200px;

  }

  .city5 {
    position: absolute;
    top: 229px;
    left: 150px;
  }

  .city6 {
    position: absolute;
    top: 229px;
    left: 230px;
  }


  .phone-number {
    position: absolute;
    //position: fixed;
    top: 125px;
    left: 10px;
    z-index: 2;
    //opacity: .7;
    font-size: 30px;
    //background: white;
    padding: 4px;
  }

  .free-estimates {
    position: absolute;
    //position: fixed;
    top: 155px;
    left: 35px;
    z-index: 2;
    //opacity: .7;
    font-size: 25px;
    //background: white;
    padding: 4px;
  }

  .saying {
    position: absolute;
    //position: fixed;
    top: 180px;
    left: 55px;
    z-index: 2;
    //opacity: .7;
    font-size: 20px;
    //background: white;
    padding: 4px;
  }

  .logo {
    width: 263px;
    top: 7px;
  }

  menu {
    position: absolute;
    //position: fixed;
    top: 88px;
    left: 0px;
    z-index: 2;
    margin: 0px;
    width: 300px;
    padding-left: 10px;
  }
  .switch_background{
    opacity: 0;
  }
  .splash_container {
     //position: fixed;
     position: absolute;
     height: 315px;
     overflow: hidden;
     z-index: 1
  }
  .logo {
    position: absolute;
  }

}

.bottom-area {
  height: 800px;
}


//////////////////////////////home page//////////////////////////////

.home-container {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.home-title {
  color: blue;
  font-size: 14px;
}

.home-description {
  width: 525px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  background: white;
  border-radius: 7px;
  font-size: 12px;
  //opacity: .8;
}

@media screen and (max-width: 535px){
  .home-description {
    width: auto;
    margin-right: 10px;
  }
}
