<div class="home-container" ng-style="{'background-image':'url({{place}})'}">
  <div class="spacer1"></div>
  <!-- <div class="home-title"> Heaven's View Window Cleaning in Loveland, Fort Collins, Windsor, Johnstown, Timnath & Berthoud.
  We specialize in window, gutter & dryer vent cleaning, pressure washing, window screen repairs & more!</div> -->



  <div class="home-description">
    <div class="home-title">We Offer Affordable Services</div>
  Heaven's View Window Cleaning serves the Northern Colorado area including Loveland, Fort Collins, Greeley, Windsor, Johnstown, Timnath, & Berthoud.  We provide professional window cleaning, gutter cleaning, dryer vent cleaning, pressure washing, and screen repair.  We can customize a cleaning service to suit your individual needs and your budget. Whether you require monthly, quarterly, or just a one-time service, you can count on Heaven's View Window Cleaning for top-notch service at unbeatable rates and satisfaction.
  </div>

  <div class="home-description">

    <div class="home-title">We Give Superior Performance</div>
    If you’re ready for spotless results, call the cleaning business with "No streaks attached".  Heaven's View Window Cleaning is a company whose employees are specially trained in the most modern and effective cleaning techniques.  We are not satisfied with our services unless you are!
  </div>

  <div class="home-description">
    <div class="home-title">The Heaven's View Window Cleaning Advantage</div>
Heaven's View Window Cleaning is fully insured, providing liability and property damage coverage up to $1,000,000.  We are a leader in the Green Revolution, as this website is powered by 100% wind energy.  We use only environmentally friendly products that are nontoxic and biodegradable which are safe for your home, pets, and family.  We can be reached via telephone 24-hours-a-day at (970) 402-2050.<br>

Enhance the appearance of your home or business with Heaven's View Window Cleaning's expert cleaning services.  Please request a free estimate, or for more information on our customized services, call us at (970) 402-2050, and we will be happy to answer all of your questions.
  </div>
  test<br>
  test<br>test<br>test<br>test<br>test<br>test<br>vtest<br>
  test<br>test<br>test<br>test<br>test<br>test<br>vtest<br>
  test<br>test<br>test<br>test<br>test<br>test<br>vtest<br>
</div>
